################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Soleil et Soie/.vs/Soleil et Soie
/Soleil et Soie/Soleil et Soie/bin/Debug/Soleil et Soie.exe
/Soleil et Soie/Soleil et Soie/bin/Debug/Soleil et Soie.pdb
/Soleil et Soie/Soleil et Soie/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Soleil et Soie/Soleil et Soie/obj/Debug/Soleil et Soie.csproj.AssemblyReference.cache
/Soleil et Soie/Soleil et Soie/obj/Debug/Soleil et Soie.csproj.CoreCompileInputs.cache
/Soleil et Soie/Soleil et Soie/obj/Debug/Soleil et Soie.csproj.FileListAbsolute.txt
/Soleil et Soie/Soleil et Soie/obj/Debug/Soleil et Soie.csproj.GenerateResource.cache
/Soleil et Soie/Soleil et Soie/obj/Debug/Soleil et Soie.exe
/Soleil et Soie/Soleil et Soie/obj/Debug/Soleil et Soie.pdb
/.vs/SoleilEtSoie/v17
*.json

/Soleil et Soie/Soleil et Soie/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Soleil et Soie/Soleil et Soie/obj/Debug/Soleil_et_Soie.LogIn.resources
/.vs/Project/v17/.wsuo
